/* Basic CSS for styling */
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('fonts/Fontspring-DEMO-proximanova-bold.otf') format('opentype');
    /* Add additional src lines for other file formats if needed */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('fonts/Fontspring-DEMO-proximanova-semibold.otf') format('opentype');
    /* Add additional src lines for other file formats if needed */
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    font-family: 'ProximaNovaBold', sans-serif;
    /*background: url('assets/header\ background.jpg') no-repeat center center;*/
    background-size: 100%;
    background-attachment: scroll;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 20px;
    background-color: #3A506B;
}

nav {
    font-family: 'ProximaNovaBold', sans-serif;
    background-color: #5BC0BE;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 15px;
}

.header-text {
    font-family: 'ProximaNovaBold', sans-serif;
}

.tab-links {
    line-height: 15px;
    height : 15px;
    list-style-type: none;
    display: flex; /* Display tabs horizontally */
    justify-content: left; /* Center align tabs */
}

.grid-element {
    font-family: 'ProximaNovaSemiBold', sans-serif;
    height: auto;
    max-width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
    font-size: 17px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    font-family: 'ProximaNovaSemiBold', sans-serif;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main-project-grid-container {
    column-gap: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
}

.project-description-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

button {
    font-family: 'ProximaNovaSemiBold', sans-serif;
    color: #ffffff;
    background-color: #5bc0be;
    font-size: 15px;
    border: 1px solid #2d63c8;
    padding: 15px 10px;
    cursor: pointer;
}

button:hover {
    color: #2d63c8;
    background-color: #ffffff;
}

.image-container {
    position: relative;
    width: 100%; /* Adjust as needed */
  }

.project-image {
    position: block;
    width: 100%;
    height: auto;
    border-radius: 10px
}

.text-overlay {
    font-family: 'ProximaNovaSemiBold', sans-serif;
    font-size: 12px;
    position: absolute;
    top: 5px;
    left: 5px;
    text-align: left; /* Align text to the left */
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 10px; /* Adjust padding as needed */
    border-radius: 15px; /* Optional: Rounded corners */
  }