/* Basic CSS for styling */
@font-face {
    font-family: 'ProximaNovaThin';
    src: url('fonts/Fontspring-DEMO-proximanova-thin.otf') format('opentype');
    /* Add additional src lines for other file formats if needed */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('fonts/Fontspring-DEMO-proximanova-semibold.otf') format('opentype');
    /* Add additional src lines for other file formats if needed */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('fonts/Fontspring-DEMO-proximanova-regular.otf') format('opentype');
    /* Add additional src lines for other file formats if needed */
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    padding-bottom: 80px; /* Added padding for footer (to prevent footer from blocking body text) */
}

header {
    font-family: 'ProximaNovaThin', sans-serif;
    /*background: url('assets/header\ background2.png');*/
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(179, 70, 252) 100%);
    background-size: cover; /* This stretches the background image to cover the entire area */
    background-repeat: no-repeat; /* Ensures the image is not repeated */
    background-position: center; /* Centers the image within the element */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 25px;
    align-items: center;
    /*background-color: #3A506B;*/
}

.header-text {
    font-family: 'ProximaNovaThin', sans-serif;
}

.progress-text {
    font-family: 'ProximaNovaRegular', sans-serif;
}

.grid-element {
    font-family: 'Calibri';
    height: auto;
    max-width: 100%;
}

.tab-links {
    line-height: 15px;
    height : 15px;
    list-style-type: none;
    display: flex; /* Display tabs horizontally */
    justify-content: flex-start; /* Center align tabs */
}

nav {
    font-family: 'ProximaNovaRegular', sans-serif;
    background-color: #333;
    text-align: left;
    padding: 0.5rem 0;
    font-size: 15px;
    align-items: left;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
    font-size: 17px;
}

nav a:hover {
    text-decoration: underline;
}

nav img {
    max-height: 150%; /* Ensure the image doesn't exceed navbar height */
    max-width: auto; /* Ensure the image doesn't exceed navbar width */
    height: auto;
    display: block;
}

.container {
    font-family: 'Calibri';
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: fadeInAnimation 0.5s ease-in-out forwards;
}

footer {
    font-family: 'Calibri';
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main-project-grid-container {
    column-gap: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
}

.project-description-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

button {
    font-family: 'ProximaNovaSemiBold', sans-serif;
    color: #ffffff;
    background-color: #4cc9f0;
    font-size: 15px;
    border: 1px solid #2d63c8;
    padding: 15px 10px;
    cursor: pointer;
}

button:hover {
    color: #2d63c8;
    background-color: #ffffff;
}

.image-container {
    position: relative;
    width: 100%; /* Adjust as needed */
}

.project-image {
    position: block;
    width: 100%;
    height: auto;
    border-radius: 10px
}

.resource-icon {
    position: inline-block;
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.resource-icon img {
    background-color: #a8dcff;
    padding: 5px;
    display: block;
    width: 45px;
    height: auto;
    /*border: 0px solid #4895ef;*/
    border-radius: 10px;
}

.resource-icon-container {
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4fr;
    grid-template-rows: 1fr;
    display: grid;
    padding-bottom: 10px;
}

.project-image:hover {
    opacity: 0.6; /* Reduce opacity on hover to create the fade effect */
    cursor: pointer; /* Change cursor to pointer (finger) */
}

.text-overlay {
    font-family: 'ProximaNovaSemiBold', sans-serif;
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left; /* Align text to the left */
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 10px; /* Adjust padding as needed */
    border-radius: 15px; /* Optional: Rounded corners */
}

/* Mobile Mode */
@media (max-width: 768px) {
    .main-project-grid-container {
        grid-template-columns: 1fr; /* Single column layout */
    }

}